<launch>
<node name="morris_aima_visualizer" pkg="morris_aima_visualization" type="morris_aima_visualization_node" args="" respawn="true" >
    <param name="relative_path" value="$(find morris_aima_visualizer)/"/>
</node>

<!-- Identify world type .-->
  <param name="/morris_aima_control/world_type" value="vacuum_world" type="str" />

<!-- Setting up environment-->
<include file="$(find morris_aima_environment)/launch/vacuum_world.launch" />
</launch>

